.postBtn {
    align-self: center;
    padding: 5px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--clr-dark-brown);
    color: white;
    border-radius: 20px;
    border: unset;
    text-decoration: none;
}

.postBtn:hover {
    background-color: var(--clr-lighter-hover);
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
