.footer {
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    /* background-color: var(--clr-dark-brown); */
    color: white;
    min-height: 15vh;
    align-items: center;
    margin-top: 2rem;
    background-image: url('./footer.jpg');
    background-color: var(--clr-dark-brown);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.footer-flex {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.footer-flex ul {
    font-size: 1rem;
}
.footer-flex ul li {
    padding-bottom: 10px;
}

.footer ul.icons {
    align-self: center;
}

.footer ul.icons div.icons-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer ul.icons i {
    align-self: center;
    font-size: 1.6rem;
}

@media screen and (max-width:720px) {
    .footer{
        flex-direction: column;
        gap:1rem;
    }
    .footer-flex{
        flex-direction: column;
        gap:1rem;
    }
    
}