.active {
    font-weight: 600;
    font-size: 1.8rem;
}
.nav {
    font-size: 1.4rem;

    margin-left: auto;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 35rem;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .nav ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .nav{
        margin: unset;
        margin-top:1rem;
    }
    .nav ul{
        min-width: 10rem;
        padding: unset;
        margin: unset;
        align-self: start;
    }
}
