.active {
    font-weight: 600;
    font-size: 1.8rem;
}
.nav {
    font-size: 1.4rem;

    margin-left: auto;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 35rem;
    align-items: center;
}
